<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flavour Fiesta</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/Flavour_Fiesta.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    
</head>
<body>
        <header class="main-header">
            <div class="logo-section">
                <img src="~/images/logo-removebg-preview.png" alt="Logo" class="logo"/>
                <h1 class="site-title">Flavour Fiesta</h1>
            </div>
            <a href="/Home/Index" class="home-button">Home</a>
            @RenderSection("HeaderExtras", required: false)
        </header>

        <main class="main-content">
            @RenderBody()
        </main>

        <footer class="main-footer">
            <p>&copy; 2025 - Flavour Fiesta. All rights reserved.</p>
        </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
