# Ignore bin and obj folders in all projects
Flavour_Fiesta.DataAccess/bin/
Flavour_Fiesta.DataAccess/obj/

Flavour_Fiesta.Domain/bin/
Flavour_Fiesta.Domain/obj/

Flavour_Fiesta.Service/bin/
Flavour_Fiesta.Service/obj/

Flavour_Fiesta/bin/
Flavour_Fiesta/obj/


# User-specific files
*.user
*.suo

# Visual Studio
.vs/

# Logs
*.log

# Entity Framework Migrations
Flavour_Fiesta.DataAccess/Migrations/

# Ignore appsettings files
appsettings.json
appsettings.Development.json