body {
    margin: 0;
    padding: 0;
    background: bisque;
}
@media (min-width: 768px) and (max-width: 991px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        align-items: center;
    }

    .top-bar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header h1 {
        font-size: 24px;
        margin-right: 0;
        text-align: center;
    }

    .search-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 8px;
    }

    #searchBar {
        width: 280px;
        font-size: 15px;
    }

    .navigation {
        position: static;
        margin-top: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .background-section {
        height: 400px;
        text-align: center;
    }

    .food-items {
        width: 45%;
    }

    #toast {
        right: 15px;
        top: 75px;
    }

    .filterPanel {
        right: 10%;
    }
}


/** hero **/
.classical-hero {
    padding: 80px 0 60px;
    background-color: #FFDEAD;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.brand {
    color: #d96c27;
}

.subtitle {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 25px;
}




/** about **/
.about-classic {
    padding: 70px 0;
    background-color:antiquewhite;
}

.about-wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.about-img {
    flex: 1 1 320px;
}

    .about-img img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

.about-text {
    flex: 1 1 380px;
}

.section-heading {
    font-size: 1.8rem;
    margin-bottom: 18px;
    color: #d96c27;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333;
}

.highlight {
    font-weight: 600;
    color: #d96c27;
}

.quote {
    font-style: italic;
    margin: 20px 0;
    color: #555;
}

.about-contact {
    margin-top: 10px;
    font-size: 1rem;
}

.phone-label {
    font-weight: 600;
    margin-right: 8px;
}

.phone {
    color: #d96c27;
    text-decoration: none;
}

    .phone:hover {
        text-decoration: underline;
    }

/** responsive **/
@media (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
    }
}





